{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/styles/loginstyle.css') }}">
 {% endblock %}
{% block body %}
    {% block navigation %}{# pas de nav ici #}{% endblock %}
    <div class="logo">TaskLinker</div>

    <div class="login-container">
        <h1>S’inscrire</h1>
        <form class="registerForm">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirmation mot de passe</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Continuer</button>

            <div class="register-link">
                Vous avez déjà un compte ? <a href="login.html">Se connecter</a>
            </div>
        </form>
    </div>
{% endblock %}
